.wrapper-404 {
    width: auto;
    margin: 0 auto;
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    color: black;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.four-oh-four {
    /*background: url("../assets/splat.png");*/
    width: 90vw;
    padding-top: -40px;
}

.oops {
    padding: 50px;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #00000050 20%, #ffffff50 100%);
}

a:visited {
    color: black;
}

.home {
    margin: 0 5px;
}
