/* font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Rock Salt', cursive; */

.profile-container {
    width: auto;
    margin: 0 auto;
}

article {
    color: white;
    padding-top: 0;
}

.button-container {
    padding: 20px 40px;
}

.content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    width: 100%;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    width: 100%;
    padding-left: 20px;
}

.movie-title {
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
    margin: 0;
    line-height: 1.2em;
}

.year {
    font-size: 0.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

.ratings {
    float: right;
    padding: 20px;
    font-size: 2em;
    z-index: 10;
}

.runtime {
    margin: 10px 0;
}

.tagline {
    font-size: 1.1em;
    font-weight: lighter;
    margin-bottom: 10px;
}

.overview {
    margin: 10px 0;
}

.delete {
    float: right;
    font-size: 2em;
}

.go-back {
    float: left;
    font-size: 2em;
}

.btn {
    margin: 20px;
    background: none;
    border: none;
    color: #4e4d4d;
}

.genre {
    border-radius: 15px;
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
}

.profile-card {
    height: 330px;
    width: 200px;
    border-radius: 5px;
}
