/* font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Rock Salt', cursive; */

.profile-container {
    width: 90vw;
    margin: 0 auto;
    position: relative;
}

.backdrop {
    display: block;
    margin: 0 auto;
    width: 100%;

}

/*#backdrop {*/
/*    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);*/
/*}*/

.content-wrapper {
    position: absolute;
    width: 90%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.movie-title {
    font-family: 'Rock Salt', cursive;
    /*color: white;*/
    font-size: 3rem;
    margin: 0;
}

.ratings {
    float: right;
    font-size: 2em;
}

.delete {
    float: right;
    font-size: 2em;
}

.go-back {
    float: left;
    font-size: 2em;
}

.btn {
    border-radius: 50%;
    width: 50px;
}

.genre {
    border-radius: 15px;
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
}


