/* font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Rock Salt', cursive; */

.profile-container {
    width: auto;
    margin: 0 auto;
}

article {
    color: white;
    padding-top: 0;
}

/*.content-container {*/

/*}*/

.content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    width: 100%;
}

.movie-title {
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
    margin: 0;
}

.ratings {
    float: right;
    padding: 20px;
    font-size: 2em;
    z-index: 10;
}

.delete {
    float: right;
    font-size: 2em;
}

.go-back {
    float: left;
    font-size: 2em;
}

.btn {
    margin-top: 20px;
    background: none;
    border: none;
    color: white;
}

.genre {
    border-radius: 15px;
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
}


