/* font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Rock Salt', cursive; */

.profile-container {
    width: 90vw;
    margin: 0 auto;
}

article {
    color: white;
}

#backdrop {
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}

.movie-title {
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
    margin: 0;
}

.ratings {
    float: right;
    font-size: 2em;
}

.delete {
    float: right;
    font-size: 2em;
}

.go-back {
    float: left;
    font-size: 2em;
}

.btn {
    background: none;
    border: none;
    color: white;
}

.genre {
    border-radius: 15px;
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
}


