.movie-card {
    margin: 15px;
    padding-top: 15px;
    width: 160px;
    font-family: 'Raleway', sans-serif
}

a {
    text-decoration: none;
}

.poster {
    width: 160px;
    margin: 0 auto;
    border-radius: 5px;
}

.movie-ratings {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    text-align: left;
    margin-top: -15px;
    margin-left: 3px;
}

.movie-release {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    text-align: left;
    color: black;
    font-weight: lighter;
    margin-top: 2px;
}

.movie {
    font-size: 0.9em;
    color: black;
    letter-spacing: 1px;
}

.movie-info {
    padding: 5px;
}
