.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg {
    color: #3b3b3b;

}

.fa-arrow-left,
.fa-home,
.fa-times {
    font-size: 2em;
    margin: 20px;
}
